{% extends 'inventario/base.html' %}
{% block title %}
Items
{% endblock %}

{% block header %}
Items
{% endblock %}

{% block body %}
<form action="{% url 'inventario:items' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Crear Item">
</form>

{% if items %}
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Detalle</th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{ item.nombre }}</td>
                <td>{{ item.marca }}</td>
                <td>{{ item.categoria }}</td>
                <td><a href="{% url 'inventario:detalle_item' item.id%}">Detalle</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>No existen items!</h3>
{% endif %}
{% endblock %}
